node_modules
dist
dist-prisma
coverage
.cache
.npm
.expo

.git
.github
.gitignore

.env
.env.*
!.env.example

*.log
npm-debug.log*

.vscode
.idea

README.md
docs

Dockerfile*
docker-compose*.yml
tsconfig.tsbuildinfo
